
#container-about {
	max-width: 92%;
	margin: auto;
}

#container-about-intro {
	margin: 30px 0px;
	background-color: #deebe9;
	padding: 50px 120px;
	p {
	font-size: 120%;
	color: black;
	font-family: 'Oswald';
	}
}

.hiddentext {
	display: none;
}

.button-about {
	color: white;
	margin: auto;
	background-color: #1f9eaf;
	width: 180px;
	padding: 10px 0px;
	text-align: center;
	margin-top: 10px;
	font-family: 'Oswald';
	}

//* usp *//

#usp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

#usp-img {
	right: 0px;
}

#usp-text1 {
	width: 65%;
	max-width: calc(100% - 300px);
	color: #000;
	height: 350px;
	background-color: #deebe9;
}

#usp-text1 p {
	text-align: left;
	padding: 0px 120px;
	font-size: 120%;
	color: black;
	font-family: 'Oswald';
}

#usp-text1 h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 180%;
	text-align: left;
	letter-spacing: 1.5px;
	padding: 50px 120px 0px 120px;
}

#usp-text2 {
	width: 35%;
	color: #000;
	height: 350px;
}

