/* Contactform */

div.flex-containercontact {
	margin: 50px 50px 60px 50px;
	text-align: center;
	h2 {
	width: 100%;
	text-align: center;
	padding: 10px;
	}
	p {
	font-family: 'Oswald';
	margin-bottom: 20px;
	text-transform: none;
	font-size: 16px;
	}
}