/* Contactform */

div.flex-containercontact {
	margin: auto;
	text-align: center;
	width: calc(100% - 40px);
	h2 {
	width: calc(100% - 20px);
	text-align: center;
	padding: 10px;
	margin: auto;
	}
	p {
	font-family: 'Oswald';
	margin-bottom: 20px;
	text-transform: none;
	font-size: 16px;
	}
}