.footer {
	width: 100%;
	border-top: 1px solid #f8f8f8;
}

.footer-newsletter {
	text-align: center;
	padding: 30px;
}

.newsletter-title {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.newsletter-intro {
	padding: 20px;
	width: 450px;
	margin: auto;
	
}

.wpcf7-form-control {
padding: 10px;
background-color: #fff;
border: 1px solid #dfdfdf;
}

.wpcf7-text, .wpcf7-textarea {
	font-family: 'Bebas', sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	vertical-align: bottom;
}


.wpcf7-form p {
display: inline;
}

.wpcf7-submit {
	width: 120px;
	display: inline;
	background-color: #fff;
	color: 000;
	border: 1px solid #dfdfdf;
	margin-top: 5px;
	margin-left: -5px;
	text-transform: uppercase;
	font-family: 'Bebas', sans-serif;
	transition: background-color 0.5s linear;
}

.wpcf7-submit:hover {
	cursor: pointer;
	background-color: black;
	color: #fff;
}
.footer-social {
	text-align: center;
	width: 100%;
	color: #000;
}

.footer-social i {
	padding: 15px 30px 15px 30px;
}

.footer-social a {
	color: #000;
} 

.footer-social a:hover {
	color: #7a7979;
} 

.copyright {
	width: 100%;
	text-align: center;
	font-size: 80%;
	margin-top: 20px;
}