.footer {
	width: 100%;
	border-top: 1px solid #eee;
}

.footer-newsletter {
	text-align: center;
	padding: 30px;
}

.newsletter-title {
	color: #000;
	font-family: 'Bebas', sans-serif;
	font-weight: bold;
}

.newsletter-intro {
	font-family: 'Bebas', sans-serif;
	padding: 20px;
	width: 450px;
	margin: auto;
}

.footer-social {
	text-align: center;
	padding: 30px;
}

.footer-social a {
	color: #000;
} 

.footer-social a:hover {
	color: #7a7979;
} 