#individual-container {
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

#individual-grid {
	display: grid;
	grid-template-columns: repeat(4, 170px) repeat(2, 120px);
	grid-template-rows: 50px repeat(3, 170px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width: 970px;
	margin: auto;
	padding: 30px 30px;
	background: #eee;
	.grid-box {
		background-size: contain;
	}
}

#individual-grid-title {
	grid-column: 1 / span 8;
	display: block;
}

.individual-grid-large-photo {
	grid-column: 2 / span 3;
	grid-row: 2 / span 3;
}


.individual-grid-small-photo {
	grid-column: 1 / span 1;
	grid-row: span 1;
}

#individual-grid-features {
	grid-column: 5 / span 2;
	grid-row: 2 / span 3;
	h3 {
		line-height:1.5rem;
	}
	ul {
		position: absolute;
		top: 2rem;
		line-height: 1.5rem;
	}
}

#individual-grid-features-list {
	width: 100%;
	position: absolute;
	top: 3rem;
	p {
		padding: 10px 0px;
		&:before {
			content: "- ";
		}
	}
}

#individual-sidebar {
	width: 180px;
	display: block;
	margin: 0px auto auto auto;
	padding: 30px 0px;
	h1 {
		line-height: 25px;
		padding-bottom: 20px;
	}
	a {
		background: #ff9900;
		color: #000000;
		border: 2px solid #146eb4;
		padding: 5px 8px;
		border-radius: 5px;
	}
	p {
		padding: 15px 0px;
	}
}

.fa-amazon {
	font-size: 140%;
	position:relative;
	top: 3px;
}