#individual-container {
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 20px;
	padding-bottom: 50px;
}

#crumble {
	font-family: 'Bebas', sans-serif;
	padding: 30px 55px 0px 55px;
	font-size: 105%;
	color: #afaeae;
	h2 {
		display: none;
	}
}

#crumble:hover {
	color: #7a7979;
}


#individual-grid {
	display: grid;
	grid-template-columns: repeat(4, 100px) repeat(2, 120px);
	grid-template-rows: 50px repeat(3, 100px);
	grid-column-gap: 120px;
	grid-row-gap: 10px;
	width: 670px;
	margin: 10px auto 10px auto;
	padding: 30px;
	.grid-box {
		background-size: contain;
		background-repeat: no-repeat;
	}
}

#individual-grid-title {
	grid-column: 1 / span 8;
	display: block;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: 130%;
	color: black;
}

.border-product {
	width: 40px;
	border-bottom: 1px solid black;
	margin-top: 10px;
}

.individual-grid-large-photo {
	grid-column: 2 / span 3;
	grid-row: 2 / span 3;
}


.individual-grid-small-photo {
	grid-column: 1 / span 1;
	grid-row: span 1;
}

#individual-grid-features {
	grid-column: 5 / span 2;
	grid-row: 2 / span 3;
	h3 {
		line-height:1.5rem;
		font-family: 'Lato';
		color: black;
		letter-spacing: 1.5px;
	}
	ul {
		position: absolute;
		top: 2rem;
		line-height: 1.5rem;
	}
}

#individual-grid-features-list {
	width: 100%;
	position: absolute;
	top: 3rem;
	p {
		padding: 5px 0px;
		}
	i {
		margin-right: 5px;
	}
}

#individual-sidebar {
	width: 440px;
	display: block;
	margin: 80px 70px auto auto;
	padding: 50px 50px 50px 50px;
	background: #ebebeb;
	h1 {
		line-height: 25px;
		padding-bottom: 10px;
		letter-spacing: 1.5px;
		font-size: 110%;
		color: black;
		text-align: center;
	}
	p {
		padding: 10px 0px;
		font-family: 'Bebas', sans-serif;
		font-size: 85%;
	}
}

#individual-sidebar-price {
	width: 85%;
	height: 90px;
	background: #fff;
	margin: auto;
	padding: 10px 20px;
}
	
#individual-side-action a {
		background:#265148; 
		color: #fff;
		padding: 15px 20px;
		font-weight: bold;
		font-family: 'Bebas', sans-serif;
		margin-left: 25%;
	}
	
#individual-side-action a:hover {	
	opacity: 0.8;
	}
	
#individual-side-action {
	margin: 10px 0px 10px 0px;
	box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
}
	
#individual-side-option a {
	text-decoration: underline;
	color: black;
}

#individual-side-option a:hover {
text-decoration: none;
}

#individual-sidebar-other {
	width: 85%;
	height: 130px;
	background: #fff;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	h3 {
	color: black;
	font-family: 'Bebas', sans-serif;
	font-size: 80%;
	text-transform: uppercase;
	width: 100%;
	}
}

.individual-sidebar-other-item {
	width: 104px;
	height: 104px;
	margin: auto;
	box-sizing: border-box;
	&:hover {
		border: 2px solid #cccccc; 
	}
}

#individual-sidebar-description {
	padding: 10px 20px 0px 20px;
}