#post-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(100% - 40px);
	margin: 20px auto;
	align-items: flex-start;
}

#post-title {
	width: 100%;
	text-align: center;
	font-size: 150%;
	padding: 30px 0px 20px;
}

#post-image {
	width: 20%;
	min-width: 200px;
	max-height: 90vh;
	height: auto;
	margin: 5px auto 15px;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
}

#post-content {
	width: calc(70% - 280px);
	min-width: 400px;
	justify-self: left;
	margin: 0px auto auto 10px;
	font-size: 18px;
	font-family: 'Oswald';
	font-size: 120%;
	p {
	margin-bottom: 1rem;
	text-align: justify;

	}
	p:first-of-type {
		color: black;
	}
	&-date {
	font-size: 85%;
	margin-bottom: 20px;
	}
}

#post-sidebar {
	width: 200px;
	margin-top: 4px;
	margin-left: 30px;
	&-title {
		font-size: 18px;
		color: black;
	}
	&-list {
	margin-bottom: 10px;
		a {
			font-size: 13px;
		}
	}
	h2 {
		padding: 8px 0px;
		line-height: 0.8rem;
		font-family: 'Oswald';
		text-transform: uppercase;
		font-weight: 100;
	}
	i {
		margin: 20px 0px; 
		padding-right: 20px;
		color: black;
	}
	h3 {
	padding-bottom: 5px;
	}
}