#product-list-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
	width:1200px;
	margin: auto;
	position:relative;
}

.product-list-item {
	height: 400px;
	position:relative;
	overflow: hidden;
}

.product-list-item-info {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.product-list-item-title {
	width: 100%;
	background: white;
}

.product-list-item-description {
	width: 100%;
	background: white;
}

.product-list-item-cta {
	display: none;
	width: 100%;
	background: rgba(255,255,255,0.9);
	line-height: 4rem;
	a {
		color: black;
		padding-left: 15px;
		font-size: 130%;
	}
}

//////// Backstretch Navigation
.bsnav {
	position: absolute;
	bottom: 200px;
	padding: 3px 5px;
	border-radius: 50%;
	background: rgba(255,255,255,0.4);
}

.backstretchprev {
	left: 10px;
}

.backstretchnext {
	right: 10px;
}

.opacityup {
		background: rgba(255,255,255,0.8);
}