@media screen and (max-width: 1260px) {
//////////////////////////////////////


#slicktop-container, .slicktop-block {
	height: 60vh;
}

.slicktop-block {
	&-textbox {
		font-size: 210%;
	}
	&-text {
		font-size: 13px;		
	}
	&-title {
		font-size: 190%;
	}
}

.slick-arrow {
	width: 75px;
}

/*
#grid-container {
	width: 1000px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 187px)
}
*/

.grid-box {
	background-size: contain;
}
.grid-description {
	background: rgba(255,255,255,0.7);
}

.grid-right-subtitle {
	top: -80px;
}

.grid-right-link {
	top: -140px;
}

	/////// Product List
	#product-list-grid {
		width: 900px;
		grid-template-columns: repeat(9, 1fr);
	}

//////////////////////////////////////
}

@media screen and (max-width: 1145px) {
//////////////////////////////////////

	#individual-sidebar {

	margin: 0;
	}

	}

@media screen and (max-width: 1040px) {
//////////////////////////////////////

.logo {
	position: static;
	width: 100%;
	text-align: center;
	transform: initial;
	order: -1;
	margin-top: 10px;
}

#menus-container {
	width: 100%;
	margin: 0px auto auto;
	order: 9;
	justify-content: center;
}

#mobilemenuopen {
	border-right: none;
	width: auto;
	padding: 0;
	padding: 29px 15px 0px 0px;
	.hamburger {
		display: none;
	}
	h4 {
		
		font-size: 18px;
		padding: 0;

	}
}

#mobilemenuopen:hover {
	background: none;
}

#searchresults {
	grid-template-columns: repeat(3, 1fr);
}


//////////////////////////////////////
}

@media screen and (max-width: 1040px) {
//////////////////////////////////////

	
#slicktop-container, .slicktop-block {
	height: 50vh;
}

.slicktop-block {
	&-textbox {
		font-size: 190%;
	}
	&-text {
		font-size: 12px;		
	}
	&-title {
		font-size: 160%;
	}
}

.slick-arrow {
	width: 60px;
}

/*
#grid-container {
	width: 850px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 157px)
}
*/

.grid-box {
	background-size: contain;
}

//// Grid
	
	.grid-right-title {
		font-size: 200%;
		top: 10px;
	}

	.grid-right-subtitle {
		font-size: 300%;
		top: -80px;
	}

	.grid-right-link {
		font-size: 13px;
		top: -120px;
	}

#grid-journal-left-bottom-middle-text {
	padding-top: 15px;
}

#grid-left-top-left #wordnew {
	padding: 5px 5px;
}

#cta-grid {
	padding: 5px 10px;
}

//////////////////////////////////////
}

@media screen and (max-width: 910px) {
/////////////////////
	/////// Product List
	#product-list-grid {
		width: 600px;
		grid-template-columns: repeat(6, 1fr);
	}
	


	//// Blog page
	#posttitle {
		font-size: 65%;
		height: 45px;
	}
	
	.postinfo {
	font-size: 110%;
}
	
	//// Individual Blog
	
	#post-image {
		width: 70%;
		margin: 10px auto 20px auto;
		height: 400px;
	}
	#post-content {
		width: 100%;
		margin: auto;
	}
	
	#post-sidebar {
		margin: 10px auto 20px 0;
		width: 400px;
		max-width: 100%;
	}
	
	#searchresults {
		grid-template-columns: repeat(2, 1fr);
		h2 {
			font-size: 80%;
		}
		a {
			font-size: 80%;
		}
	}

	//// Grid
	
	.grid-right-title {
		font-size: 200%;
		top: 10px;
	}

	.grid-right-subtitle {
		font-size: 300%;
		top: -70px;
	}

	.grid-right-link {
		font-size: 13px;
		top: -100px;
	}

/////////
}

@media screen and (max-width: 870px) {
//////////////////////////////////////
#slicktop-container, .slicktop-block {
	height: 40vh;
}

.slicktop-block {
	&-textbox {
		font-size: 170%;
	}
	&-text {
		font-size: 12px;		
	}
	&-title {
		font-size: 140%;
	}
}

.slick-arrow {
	width: 55px;
}

/*
#grid-container {
	width: 650px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 117px)
}
*/

.grid-box {
	background-size: contain;
}

//// Grid
	
	.grid-right-title {
		font-size: 200%;
		top: 10px;
	}

	.grid-right-subtitle {
		font-size: 300%;
		top: -70px;
	}

	.grid-right-link {
		font-size: 13px;
		top: -100px;
	}

#grid-journal-left-bottom-middle-text {
	padding-top: 10px;
	font-size: 100%;
}

.grid-journal-right-title {
    font-size: 300%;
}

.grid-journal-right-action {
    font-size: 13px;
}



//////////////////////////////////////
}

@media screen and (max-width: 820px) {
//////////////////////////////////////
.search-box {
	position: static;
	right: auto;
	height: auto;
	padding: 10px 0 0 0;
	margin: auto;
	text-align: center;
}
//////////////////////////////////////
}



@media screen and (max-width: 740px) {
//////////////////////////////////////

.slick-arrow {
	width: 40px;
}

#slicktop-container, .slicktop-block {
	height: 35vh;
}

.slicktop-block {
	&-textbox {
		font-size: 150%;
	}
	&-text {
		font-size: 11px;		
	}
	&-title {
		font-size: 140%;
	}
}

.grid-container {
	width: 94%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 200px)
}

#grid-left-bottom-left {
	order: -1;
}

#grid-right {
	background-size: cover;
	background-position-y: 70%;
}

.grid-right-title {
    font-size: 240%;
    top: 30px;
}

.grid-right-subtitle {
	top: -130px;
}

.grid-right-link {
	top: -260px;
}

#grid-journal-left-bottom-middle-text {
	padding-top: 15px;
}

.extra-large {
	grid-column: span 2;
	grid-row: span 3;
}

#post-image {
	width: 100%;
	margin: 10px auto 20px auto;
	height: 400px;
}
	

/// Journal Page
#excerptcontainer {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}

#excerptblock:nth-of-type(10) {
	grid-row: 7 / span 2;
	grid-column: 1 / span 6;
}


//////////////////////////////////////
}


@media screen and (max-width: 610px) {
/////////////////////
	/////// Product List
	#product-list-grid {
		width: 300px;
		max-width: 98%;
		grid-template-columns: repeat(3, 1fr);
	}
	
	
	/////// Individual items
#individual-container {
	padding: 0px;
}

#individual-grid {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	max-width: 330px;
	margin: 20px auto;
	padding: 0px;
	&-title::after {
		padding: 10px 0px;
	}
	.grid-box {
	  width: 100%;
	  height: auto;
	}

.grid-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
}

#individual-grid-title {
	padding-bottom: 10px;
}

.individual-grid-large-photo {
	display: none;
}

#individual-sidebar {
	width: 100%;
	padding: 0px;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	&-price {
		 width: 50%;
		 margin: 10px auto;
		 order: 2;
	}
	&-other {
		width: 50%;
		margin: 0px auto 10px;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		order: 3;
		h3 {
			width: 100%;
			text-align: center;
		}
	}
	&-description {
		order: 1;
	}
}

.individual-sidebar-other-item {
	width: auto;
	margin: auto;
	display: block;
	&:first-of-type {
		margin-top: 10px;
	}
}

#individual-side-action a {
	margin: auto;
}

.grid-right-title {
	font-size: 200%;
    top: 30px;
}

.grid-right-subtitle {
	top: -90px;
}

.grid-right-link {
	top: -170px;
}


#post-content {
	min-width: auto;
}
/////////////
}